version: '3.5'
services:
  peercoind:
    restart: always
    image: peerchemist/peercoind
    ports:
      - "9904:9904"
    environment:
      - RPC_USER=papi
      - RPC_PASSWORD=papipass
    volumes:
      - type: bind
        source: /opt/papi/peercoin/
        target: /data
    command:
      -testnet
      -rpcallowip=*
  papi:
    restart: always
    build: .
    ports:
      - "5555:5555"
    depends_on:
      - peercoind
    environment:
      - PA_TESTNET=true
      - PA_PRODUCTION=true
      - AUTOLOAD=true
      - PA_VERSION=1
      - RPC_HOST=peercoind
      - RPC_PORT=9904
      - RPC_USERNAME=papi
      - RPC_PASSWORD=papipass
    volumes:
      - type: bind
        source: /opt/papi/
        target: /var/lib/papi/
    command: ["./wait-for-it.sh", "peercoind:9904", "--", "python3", "main.py"]
