Flask==0.12.2
SQLAlchemy==1.2.2
Flask-SQLAlchemy==2.3.2
Flask-Cors==3.0.3
Flask-Restless==0.17.0
Flask-RQ2==18.0

peercoin_rpc>=0.57
peerassets-btcpy
git+git://github.com/saeveritt/pypeerassets@master#egg=pypeerassets