Flask==0.12.2
SQLAlchemy==1.2.2
Flask-SQLAlchemy==2.3.2
Flask-Cors==3.0.3
Flask-Restless==0.17.0

peercoin_rpc
-e git://github.com/PeerAssets/pypeerassets@master#egg=pypeerassets
-e git://github.com/PeerAssets/btcpy@master#egg=btcpy
